beautifulsoup4==4.7.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Executor==0.9.3
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycparser==2.19
python-nmap==0.6.1
requests==2.22.0
soupsieve==1.9.4
supervisor==4.1.0
urllib3==1.25.6
Werkzeug==0.16.0
pycrtsh==0.1
dnsdumpster
wfuzz
pysocks